<a href="{{ product.url | within: collection }}">
		<img src="{{ product.featured_image.src | img_url: '200x' }}" alt="{{ product.featured_image.alt | escape }}" />

		{% if product.available == false %}
		<span class="badge--out-of-stock">
				out of stock
		</span>
		{% endif %}
</a>

<a href="{{ product.url | within: collection }}">{{ product.title }}</a>

<span>{{ product.price | money }}</span>