<a href="{{ product.url | within: collection }}">
		<img src="{{ product.featured_image.src | img_url: '200x' }}" alt="{{ product.featured_image.alt | escape }}" />

		{% if product.available == false %}
		<span class="badge--out-of-stock">
				out of stock
		</span>
		{% endif %}
</a>

<a href="{{ product.url | within: collection }}">{{ product.title }}</a>

<span>{{ product.price | money }}</span>

<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  {{ current_variant.price | money }}
  <label for="Quantity">quantity</label>
	<input type="number" id="Quantity" name="quantity" value="1" min="1">
	
	<input type="hidden" name="id" value="{{ product.variants.first.id }}" />
	<input 
		type="submit" 
		value="{% if product.variants.first.available%}Add to Cart{% else %}Sold Out{% endif%}"
		{% unless product.variants.first.available %}disabled{% endunless %} 
		id="AddToCart"
		class="btn btn-primary" 
	/>
</form>