<div class="gallery">
	{% for block in section.blocks %}

	 {% comment %} if block type == image {% endcomment %}
		{% if block.type == 'image' %}
			<div class="image-wrap" style="background-image: url(' {{ block.settings.image | img_url: '750x' }} ');" >
			</div>
		{% endif %}
		{% comment %} end if block type == image {% endcomment %}

		{% comment %} if block type == video {% endcomment %}
		{% if block.type == 'video' %}
			{% if block.settings.video_url == blank %}
				<iframe src="//www.youtube.com/embed/J6Su5Vx3x5U?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
				{% else %}
					{% if block.settings.video_url.type == "youtube" %}
						<iframe src="//www.youtube.com/embed/{{ block.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
					{% endif %}

					{% if block.settings.video_url.type == "vimeo" %}
						<iframe src="//player.vimeo.com/video/{{ block.settings.video_url.id }}?color=6FDA44&byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
					{% endif %}
					
			{% endif %}
		{% endif %}	
		{% comment %} end  if block type == video  {% endcomment %}

	{% endfor %}
</div>

{% schema %}
{
	"name": "Gallery",
	"settings": [
		// images per row
		{
			"type":      "select",
			"id":        "per_row",
			"label":     "Images per row",
			"options": [
				{
					"value": "49.5%",
					"label": "2 per row"
				},
				{
					"value": "32.5%",
					"label": "3 per row"
				},
				{
					"value": "24.5%",
					"label": "4 per row"
				},
				{
					"value": "19.5%",
					"label": "5 per row"
				}
			],
			"default":   "32.5%"
		},
		// image height
		{
			"type":   "range",
			"id":     "image_height",
			"min":       250,
			"max":       750,
			"step":      10,
			"label":     "Image height",
			"default":   500
		}
	],
	"blocks": [
		{
			"type": "image",
			"name": "Image Block",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Pick image"
				}		
			]
		},
		{
			"type": "video",
			"name": "Video Block",
			"settings": [
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Pick video",
					"accept": ["youtube", "vimeo"]
				}		
			]
		}			
	],
	"presets": [
		{
			"category": "Custom Content",
			"name": "Gallery"
		}
	]
}
{% endschema %}

{% style %}
	.image-wrap, iframe {
		display: inline-block;
		width: {{ section.settings.per_row }};
		height: {{ section.settings.image_height }}px; 
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
{% endstyle %}

{% javascript %}
{% endjavascript %}